<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StarcraftRandom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StarcraftRandom.Properties.Settings>
            <setting name="ReplayFolder" serializeAs="String">
                <value>C:\Users\Joka\Documents\StarCraft II\Accounts\129797237\2-S2-1-2770630\Replays\Multiplayer</value>
            </setting>
            <setting name="PlayerName" serializeAs="String">
                <value>Tinker</value>
            </setting>
            <setting name="MinimumLength" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="FromDate" serializeAs="String">
                <value>2012-10-08</value>
            </setting>
        </StarcraftRandom.Properties.Settings>
    </userSettings>
</configuration>